body {
    margin: 0;
    font-family: Verdana, sans-serif;
    background-image: url('./bg2.jpg');
    color: white;
  }
  
  .topnav {
    overflow: hidden;
    /* background-color: rgb(124, 113, 113); */
    background-image: url('./bg2.jpg');
    display: flex;
    justify-content: right;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  #logo{
    font-size: 20px;
    text-align: end;
  }
  
  .topnav a:hover {
    color: #ddd;
    background-color:  rgb(75, 67, 67);;
  }
  
  h1{
    color: beige;
    display: flex;
    justify-content: center;
  }

.description{
    padding: 0 300 0 50;
    font-size: 20px;
    color: white;
}

.profile-pic{
    padding: 0 0 0 300;
}

#about, #experience, #projects, #technologies{
    height: 100vh;
}


h2{
    margin-left: 20%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    background-color: darkgrey;
    color: black;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  